
<% for(var counter=0; counter < users.length; counter++){%>
<tr>
    <td><%= counter+1 %></td>
    <td><%= users[counter].username %></td>
    <td><%= users[counter].epwd %></td>
    <td><%= users[counter].usergroup %></td>
    <td><%= users[counter].aut %></td>
    <td><%= users[counter].appenv %></td>
    <td><%= users[counter].info %></td>
    <td>
        <a href="/update-user?id=<%= users[counter]._id %>" class="btn border-shadow update">
            <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
        </a>

        <a class="btn border-shadow delete" data-id=<%= users[counter]._id%>
            <span class="text-gradient"><i class="fas fa-times"></i></span>
        </a>
    </td>

</tr>


<%}%>